*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* to allow box-sizing: to inherit. to change easier the box-sizing: inside the elements;; */
  box-sizing: inherit; }

html {
  font-size: 120%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    /* at 0. is in the place it is right now */
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    /* at 0. is in the place it is right now */
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    /* at 0. is in the place it is right now */
    transform: translate(0); } }

/* psuedo class to style elements on a special condition */
body {
  font-family: "Ibarra Real Nova", serif;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.7;
  /* to make a white border between the body */
  padding: 2rem; }

.heading-primary {
  color: brown; }
  .heading-primary--main {
    display: block;
    font-size: 7rem;
    font-weight: 40rem;
    letter-spacing: 2.5rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem; }

.link {
  text-decoration: none;
  color: #333333; }

html {
  background-color: #fce2db; }

.nav {
  display: flex;
  flex-direction: row;
  background-color: #f9ed69; }
  .nav__logo-box {
    background-color: red;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }

.menu {
  width: 90vw; }
  .menu__itemlist {
    display: flex;
    justify-content: flex-end; }
  .menu__item {
    list-style-type: none;
    padding: 2rem;
    background-color: brown; }
