*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* to allow box-sizing: to inherit. to change easier the box-sizing: inside the elements;; */
    box-sizing: inherit;
}

html {
    font-size: 120%;
}
body {
    box-sizing: border-box;
}